<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico">

    <title>Mission Statement</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/cover/">

    <!-- Bootstrap core CSS -->
    <link href="../../dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

    <!-- Custom styles for this template -->
    <link href="cover.css" rel="stylesheet">
  </head>

  <body class="text-center">
    <nav class="navbar navbar-default" role="navigation">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-center">
                <li><a href="\">Home</a></li>
                <li><a href="\about">Mission</a></li>
            </ul>
        </div>
    </nav>
  </header>

  <main role="main" class="inner cover">
    <h1 class="cover-heading">Mission Statement</h1>
    <img src="https://i.ibb.co/mbCjHtL/logo.jpg" alt="logo" />
    <p style="width: 70%; margin: auto" class="lead">With new surges of Covid-19, many hospitals have been experiencing a shortage of PPE equipment including face masks, gloves and hand sanitizer. This increased demand and low supplies many health care workers have pleaded to the public for direct donations to the hospitals. Many people are willing to donate however they do not know what items are needed, which hospitals need it urgently or even how to donate.</p>
    <!-- <p class="lead">
      <a href="#" class="btn btn-lg btn-secondary">Learn more</a>
    </p> -->
  </main>
</div>


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" cr