<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://rawcdn.githack.com/python-visualization/folium/master/folium/templates/leaflet.awesome.rotate.css"/>
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_f65a8e07e7a4448d827b78adbafd5af8 {
                    position: relative;
                    width: 80.0%;
                    height: 80.0%;
                    left: 0.0%;
                    top: 0.0%;
                    margin: auto;
                }
            </style>
        
</head>
<body>    
    <h1><a href="/thank">Hospital Thank Yous!</a></h1>
    <div style="display: flex">
        <div>Corona Helping Hands</div>
        <div id="datetime"></div>
    </div>
    <div class="folium-map" id="map_f65a8e07e7a4448d827b78adbafd5af8" ></div>
        
</body>
<script>
    var dt = new Date();
    document.getElementById("datetime").innerHTML = "Last Updated: " + dt.toLocaleDateString() + " " + dt.toLocaleTimeString();
</script>
<script>    
    
            var map_f65a8e07e7a4448d827b78adbafd5af8 = L.map(
                "map_f65a8e07e7a4448d827b78adbafd5af8",
                {
                    center: [44.3148, -85.6024],
                    crs: L.CRS.EPSG3857,
                    zoom: 7.5,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_a41e212a336448edb18912e145266806 = L.tileLayer(
                "https://stamen-tiles-{s}.a.ssl.fastly.net/terrain/{z}/{x}/{y}.jpg",
                {"attribution": "Map tiles by \u003ca href=\"http://stamen.com\"\u003eStamen Design\u003c/a\u003e, under \u003ca href=\"http://creativecommons.org/licenses/by/3.0\"\u003eCC BY 3.0\u003c/a\u003e. Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://creativecommons.org/licenses/by-sa/3.0\"\u003eCC BY SA\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_f65a8e07e7a4448d827b78adbafd5af8);
        
    
            var circle_d147a1bc364147a99c31d529fdf1f16d = L.circle(
                [43.0214202, -83.7045634],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "red", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 2000.0, "stroke": true, "weight": 3}
            ).addTo(map_f65a8e07e7a4448d827b78adbafd5af8);
        
    
        var popup_10f5fba8e09946709ffe2468a8d3d302 = L.popup({"maxWidth": 300, "minWidth": 0});

        
            var html_593fde8e666c4232bef7d61a665a631a = $(`<div id="html_593fde8e666c4232bef7d61a665a631a" style="width: 100.0%; height: 100.0%;">Hospital name: Hurley Medical Center<br> Number of COVID patients: 71<br> Number of ICU patients: 24</div>`)[0];
            popup_10f5fba8e09946709ffe2468a8d3d302.setContent(html_593fde8e666c4232bef7d61a665a631a);
        

        circle_d147a1bc364147a99c31d529fdf1f16d.bindPopup(popup_10f5fba8e09946709ffe2468a8d3d302)
        ;

        
    
    
            var circle_a1639f63149347189dca68b3922bf354 = L.circle(
                [44.7567962, -85.57745709999999],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "red", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 2634.0, "stroke": true, "weight": 3}
            ).addTo(map_f65a8e07e7a4448d827b78adbafd5af8);
        
    
        var popup_0d2b3805127a4f7786bfbc6ab687e9ed = L.popup({"maxWidth": 300, "minWidth": 0});

        
            var html_1d190a6e89d44601adf34ea3b133cab4 = $(`<div id="html_1d190a6e89d44601adf34ea3b133cab4" style="width: 100.0%; height: 100.0%;">Hospital name: Munson Health System<br> Number of COVID patients: 7<br> Number of ICU patients: 0</div>`)[0];
            popup_0d2b3805127a4f7786bfbc6ab687e9ed.setContent(html_1d190a6e89d44601adf34ea3b133cab4);
        

        circle_a1639f63149347189dca68b3922bf354.bindPopup(popup_0d2b3805127a4f7786bfbc6ab687e9ed)
        ;

        
    
    
            var circle_3528a0c46f234203a442f5819164c978 = L.circle(
                [42.5145386, -83.1926244],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "red", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 2780.0, "stroke": true, "weight": 3}
            ).addTo(map_f65a8e07e7a4448d827b78adbafd5af8);
        
    
        var popup_0b68444bee0c47f68fc0f6230f454588 = L.popup({"maxWidth": 300, "minWidth": 0});

        
            var html_c17f5589b4c04501b337b93f533c2d1f = $(`<div id="html_c17f5589b4c04501b337b93f533c2d1f" style="width: 100.0%; height: 100.0%;">Hospital name: Beaumont<br> Number of COVID patients: 0<br> Number of ICU patients: 0</div>`)[0];
            popup_0b68444bee0c47f68fc0f6230f454588.setContent(html_c17f5589b4c04501b337b93f533c2d1f);
        

        circle_3528a0c46f234203a442f5819164c978.bindPopup(popup_0b68444bee0c47f68fc0f6230f454588)
        ;

        
    
    
            var circle_78e05cb99d2a482ca1fe5f97b5d0a28d = L.circle(
                [42.28391430000001, -83.7332766],
                {"bubblingMouseEvents": true, "color": "orange", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "orange", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 3164.0, "stroke": true, "weight": 3}
            ).addTo(map_f65a8e07e7a4448d827b78adbafd5af8);
        
    
        var popup_c65d7f323df24a57843a759dbf622aac = L.popup({"maxWidth": 300, "minWidth": 0});

        
            var html_af5393b070e9402fb7e09038647e360b = $(`<div id="html_af5393b070e9402fb7e09038647e360b" style="width: 100.0%; height: 100.0%;">Hospital name: Michigan Medicine<br> Number of COVID patients: 125<br> Number of ICU patients: 35</div>`)[0];
            popup_c65d7f323df24a57843a759dbf622aac.setContent(html_af5393b070e9402fb7e09038647e360b);
        

        circle_78e05cb99d2a482ca1fe5f97b5d0a28d.bindPopup(popup_c65d7f323df24a57843a759dbf622aac)
        ;

        
    
    
            var circle_cb4cc3efe77a4cdf9659f2f3f2092004 = L.circle(
                [43.6355505, -84.2608259],
                {"bubblingMouseEvents": true, "color": "orange", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "orange", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 3213.0, "stroke": true, "weight": 3}
            ).addTo(map_f65a8e07e7a4448d827b78adbafd5af8);
        
    
        var popup_7453d200eaae4a449c265e9296511f36 = L.popup({"maxWidth": 300, "minWidth": 0});

        
            var html_d4faae7feb844aaaa369be798dc88a35 = $(`<div id="html_d4faae7feb844aaaa369be798dc88a35" style="width: 100.0%; height: 100.0%;">Hospital name: MidMichigan Health<br> Number of COVID patients: 15<br> Number of ICU patients: 5</div>`)[0];
            popup_7453d200eaae4a449c265e9296511f36.setContent(html_d4faae7feb844aaaa369be798dc88a35);
        

        circle_cb4cc3efe77a4cdf9659f2f3f2092004.bindPopup(popup_7453d200eaae4a449c265e9296511f36)
        ;

        
    
    
            var circle_d49b0c15f9db4851b5cf7fd404a44266 = L.circle(
                [41.9381529, -84.9893546],
                {"bubblingMouseEvents": true, "color": "orange", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "orange", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 3717.0, "stroke": true, "weight": 3}
            ).addTo(map_f65a8e07e7a4448d827b78adbafd5af8);
        
    
        var popup_d762ca55e1b04bc291387d0439da0fdf = L.popup({"maxWidth": 300, "minWidth": 0});

        
            var html_27257ce5b26749aeafe7a0fe49e0e293 = $(`<div id="html_27257ce5b26749aeafe7a0fe49e0e293" style="width: 100.0%; height: 100.0%;">Hospital name: ProMedica<br> Number of COVID patients: 19<br> Number of ICU patients: 9</div>`)[0];
            popup_d762ca55e1b04bc291387d0439da0fdf.setContent(html_27257ce5b26749aeafe7a0fe49e0e293);
        

        circle_d49b0c15f9db4851b5cf7fd404a44266.bindPopup(popup_d762ca55e1b04bc291387d0439da0fdf)
        ;

        
    
    
            var circle_61a2b6c0cae2437ba12acb3a107e2d60 = L.circle(
                [41.9352768, -85.6479257],
                {"bubblingMouseEvents": true, "color": "orange", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "orange", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 3886.0, "stroke": true, "weight": 3}
            ).addTo(map_f65a8e07e7a4448d827b78adbafd5af8);
        
    
        var popup_31429e4a47da457aba84e57c4e31b9cc = L.popup({"maxWidth": 300, "minWidth": 0});

        
            var html_fe287078cea640b496026e0e7a356c61 = $(`<div id="html_fe287078cea640b496026e0e7a356c61" style="width: 100.0%; height: 100.0%;">Hospital name: Three Rivers Health<br> Number of COVID patients: 0<br> Number of ICU patients: 0</div>`)[0];
            popup_31429e4a47da457aba84e57c4e31b9cc.setContent(html_fe287078cea640b496026e0e7a356c61);
        

        circle_61a2b6c0cae2437ba12acb3a107e2d60.bindPopup(popup_31429e4a47da457aba84e57c4e31b9cc)
        ;

        
    
    
            var circle_ce0449648b134065a1bf0cf005ee8e26 = L.circle(
                [42.3635022, -83.07581019999999],
                {"bubblingMouseEvents": true, "color": "orange", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "orange", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 3956.0, "stroke": true, "weight": 3}
            ).addTo(map_f65a8e07e7a4448d827b78adbafd5af8);
        
    
        var popup_3b87481c38df40ab80b9ff04d321f488 = L.popup({"maxWidth": 300, "minWidth": 0});

        
            var html_0ddb0d3f01144ffb865624ac5874e785 = $(`<div id="html_0ddb0d3f01144ffb865624ac5874e785" style="width: 100.0%; height: 100.0%;">Hospital name: Henry Ford Health System<br> Number of COVID patients: 23<br> Number of ICU patients: 6</div>`)[0];
            popup_3b87481c38df40ab80b9ff04d321f488.setContent(html_0ddb0d3f01144ffb865624ac5874e785);
        

        circle_ce0449648b134065a1bf0cf005ee8e26.bindPopup(popup_3b87481c38df40ab80b9ff04d321f488)
        ;

        
    
    
            var circle_4bcbf5f175d84889812ec47545aab08b = L.circle(
                [42.3543741, -83.0562734],
                {"bubblingMouseEvents": true, "color": "orange", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "orange", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 3962.0, "stroke": true, "weight": 3}
            ).addTo(map_f65a8e07e7a4448d827b78adbafd5af8);
        
    
        var popup_bde17d63886a452c81e0421f7be5c830 = L.popup({"maxWidth": 300, "minWidth": 0});

        
            var html_cf9063edb05340f490b1c2b80e6f6c7b = $(`<div id="html_cf9063edb05340f490b1c2b80e6f6c7b" style="width: 100.0%; height: 100.0%;">Hospital name: Detroit Medical Center<br> Number of COVID patients: 0<br> Number of ICU patients: 0</div>`)[0];
            popup_bde17d63886a452c81e0421f7be5c830.setContent(html_cf9063edb05340f490b1c2b80e6f6c7b);
        

        circle_4bcbf5f175d84889812ec47545aab08b.bindPopup(popup_bde17d63886a452c81e0421f7be5c830)
        ;

        
    
    
            var circle_8aa0c56fb35946bfa67d6685130f6165 = L.circle(
                [42.4984276, -83.08378069999999],
                {"bubblingMouseEvents": true, "color": "orange", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "orange", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 3999.0, "stroke": true, "weight": 3}
            ).addTo(map_f65a8e07e7a4448d827b78adbafd5af8);
        
    
        var popup_275771b65d4c49b085e3d41c103753e4 = L.popup({"maxWidth": 300, "minWidth": 0});

        
            var html_dd61ee15290349569604fc4284fc125c = $(`<div id="html_dd61ee15290349569604fc4284fc125c" style="width: 100.0%; height: 100.0%;">Hospital name: Ascension<br> Number of COVID patients: 0<br> Number of ICU patients: 0</div>`)[0];
            popup_275771b65d4c49b085e3d41c103753e4.setContent(html_dd61ee15290349569604fc4284fc125c);
        

        circle_8aa0c56fb35946bfa67d6685130f6165.bindPopup(popup_275771b65d4c49b085e3d41c103753e4)
        ;

        
    
    
            var circle_f558d70c4c014e52a0619b1793368b72 = L.circle(
                [41.8722716, -85.19469629999999],
                {"bubblingMouseEvents": true, "color": "orange", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "orange", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 4059.0, "stroke": true, "weight": 3}
            ).addTo(map_f65a8e07e7a4448d827b78adbafd5af8);
        
    
        var popup_23144fad598041d7a30eb3fe64001fe4 = L.popup({"maxWidth": 300, "minWidth": 0});

        
            var html_7254b8001a54422ea952f2db30bb1938 = $(`<div id="html_7254b8001a54422ea952f2db30bb1938" style="width: 100.0%; height: 100.0%;">Hospital name: Bronson<br> Number of COVID patients: 0<br> Number of ICU patients: 0</div>`)[0];
            popup_23144fad598041d7a30eb3fe64001fe4.setContent(html_7254b8001a54422ea952f2db30bb1938);
        

        circle_f558d70c4c014e52a0619b1793368b72.bindPopup(popup_23144fad598041d7a30eb3fe64001fe4)
        ;

        
    
    
            var circle_34c171b6e1ea4df6aba07faa6d820c02 = L.circle(
                [43.215921, -85.073668],
                {"bubblingMouseEvents": true, "color": "orange", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "orange", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 4062.0000000000005, "stroke": true, "weight": 3}
            ).addTo(map_f65a8e07e7a4448d827b78adbafd5af8);
        
    
        var popup_46052fc9f1be4fd297e7339fe2032906 = L.popup({"maxWidth": 300, "minWidth": 0});

        
            var html_2c2679b4b40245ad9620d276c24fe4e0 = $(`<div id="html_2c2679b4b40245ad9620d276c24fe4e0" style="width: 100.0%; height: 100.0%;">Hospital name: Sheridan Community Hospital<br> Number of COVID patients: 0<br> Number of ICU patients: 0</div>`)[0];
            popup_46052fc9f1be4fd297e7339fe2032906.setContent(html_2c2679b4b40245ad9620d276c24fe4e0);
        

        circle_34c171b6e1ea4df6aba07faa6d820c02.bindPopup(popup_46052fc9f1be4fd297e7339fe2032906)
        ;

        
    
    
            var circle_2755ca1d2ce941f793d2c4b3cc6063ce = L.circle(
                [42.4349064, -83.4278728],
                {"bubblingMouseEvents": true, "color": "orange", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "orange", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 4238.0, "stroke": true, "weight": 3}
            ).addTo(map_f65a8e07e7a4448d827b78adbafd5af8);
        
    
        var popup_d6ed1beb01ae4a79a1e6f8c04524f379 = L.popup({"maxWidth": 300, "minWidth": 0});

        
            var html_8bfccc1099604c29bd23c6c6312e4f4f = $(`<div id="html_8bfccc1099604c29bd23c6c6312e4f4f" style="width: 100.0%; height: 100.0%;">Hospital name: Trinity<br> Number of COVID patients: 129<br> Number of ICU patients: 37</div>`)[0];
            popup_d6ed1beb01ae4a79a1e6f8c04524f379.setContent(html_8bfccc1099604c29bd23c6c6312e4f4f);
        

        circle_2755ca1d2ce941f793d2c4b3cc6063ce.bindPopup(popup_d6ed1beb01ae4a79a1e6f8c04524f379)
        ;

        
    
    
            var circle_ee55bb43a40b40d0acdd78bce7faee25 = L.circle(
                [43.0507132, -86.22921029999999],
                {"bubblingMouseEvents": true, "color": "orange", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "orange", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 4243.0, "stroke": true, "weight": 3}
            ).addTo(map_f65a8e07e7a4448d827b78adbafd5af8);
        
    
        var popup_210774e5e3124ba79f8b9ef320890cb3 = L.popup({"maxWidth": 300, "minWidth": 0});

        
            var html_f912f6ef97a342e08d12d9482dba9c4e = $(`<div id="html_f912f6ef97a342e08d12d9482dba9c4e" style="width: 100.0%; height: 100.0%;">Hospital name: North Ottawa Community Hosp<br> Number of COVID patients: 0<br> Number of ICU patients: 0</div>`)[0];
            popup_210774e5e3124ba79f8b9ef320890cb3.setContent(html_f912f6ef97a342e08d12d9482dba9c4e);
        

        circle_ee55bb43a40b40d0acdd78bce7faee25.bindPopup(popup_210774e5e3124ba79f8b9ef320890cb3)
        ;

        
    
    
            var circle_3794f8b00e124dfe820870876525a4d2 = L.circle(
                [43.0058489, -84.17980469999999],
                {"bubblingMouseEvents": true, "color": "orange", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "orange", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 4318.0, "stroke": true, "weight": 3}
            ).addTo(map_f65a8e07e7a4448d827b78adbafd5af8);
        
    
        var popup_d27728cb59a24548b2d91d95c921ad40 = L.popup({"maxWidth": 300, "minWidth": 0});

        
            var html_84f718562fed4d7d914e9bd4ffbe8cfb = $(`<div id="html_84f718562fed4d7d914e9bd4ffbe8cfb" style="width: 100.0%; height: 100.0%;">Hospital name: Memorial Healthcare<br> Number of COVID patients: 0<br> Number of ICU patients: 0</div>`)[0];
            popup_d27728cb59a24548b2d91d95c921ad40.setContent(html_84f718562fed4d7d914e9bd4ffbe8cfb);
        

        circle_3794f8b00e124dfe820870876525a4d2.bindPopup(popup_d27728cb59a24548b2d91d95c921ad40)
        ;

        
    
    
            var circle_6729bfbb99c54d978c53f2629159e3d1 = L.circle(
                [42.5075088, -83.00411559999999],
                {"bubblingMouseEvents": true, "color": "orange", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "orange", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 4387.0, "stroke": true, "weight": 3}
            ).addTo(map_f65a8e07e7a4448d827b78adbafd5af8);
        
    
        var popup_7382aeab587b4038a243c8326577e5b5 = L.popup({"maxWidth": 300, "minWidth": 0});

        
            var html_abe9007b39dc4a4a9331670a5612ea23 = $(`<div id="html_abe9007b39dc4a4a9331670a5612ea23" style="width: 100.0%; height: 100.0%;">Hospital name: Prime Health<br> Number of COVID patients: 4<br> Number of ICU patients: 0</div>`)[0];
            popup_7382aeab587b4038a243c8326577e5b5.setContent(html_abe9007b39dc4a4a9331670a5612ea23);
        

        circle_6729bfbb99c54d978c53f2629159e3d1.bindPopup(popup_7382aeab587b4038a243c8326577e5b5)
        ;

        
    
    
            var circle_40e02a4babad44a5a31eb23ed8d9c70a = L.circle(
                [41.9120432, -84.633113],
                {"bubblingMouseEvents": true, "color": "orange", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "orange", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 4477.0, "stroke": true, "weight": 3}
            ).addTo(map_f65a8e07e7a4448d827b78adbafd5af8);
        
    
        var popup_7e61478e4f6942909af14644f8908831 = L.popup({"maxWidth": 300, "minWidth": 0});

        
            var html_1de4cc1e6fb14b85b12640052dab16ea = $(`<div id="html_1de4cc1e6fb14b85b12640052dab16ea" style="width: 100.0%; height: 100.0%;">Hospital name: Hillsdale Hospital<br> Number of COVID patients: 3<br> Number of ICU patients: 1</div>`)[0];
            popup_7e61478e4f6942909af14644f8908831.setContent(html_1de4cc1e6fb14b85b12640052dab16ea);
        

        circle_40e02a4babad44a5a31eb23ed8d9c70a.bindPopup(popup_7e61478e4f6942909af14644f8908831)
        ;

        
    
    
            var circle_0118742c614b4e7a91663faf3724b874 = L.circle(
                [42.63423299999999, -83.3092325],
                {"bubblingMouseEvents": true, "color": "orange", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "orange", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 4492.0, "stroke": true, "weight": 3}
            ).addTo(map_f65a8e07e7a4448d827b78adbafd5af8);
        
    
        var popup_0d331018b6934222a0614b3160c3870e = L.popup({"maxWidth": 300, "minWidth": 0});

        
            var html_446713a016ae43b99f1b3545841cd8a9 = $(`<div id="html_446713a016ae43b99f1b3545841cd8a9" style="width: 100.0%; height: 100.0%;">Hospital name: Pontiac General Hospital<br> Number of COVID patients: 0<br> Number of ICU patients: 0</div>`)[0];
            popup_0d331018b6934222a0614b3160c3870e.setContent(html_446713a016ae43b99f1b3545841cd8a9);
        

        circle_0118742c614b4e7a91663faf3724b874.bindPopup(popup_0d331018b6934222a0614b3160c3870e)
        ;

        
    
    
            var circle_459ba53a086c4f628cae48eb299ae7e6 = L.circle(
                [42.3314999, -83.1135654],
                {"bubblingMouseEvents": true, "color": "green", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "green", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 4676.0, "stroke": true, "weight": 3}
            ).addTo(map_f65a8e07e7a4448d827b78adbafd5af8);
        
    
        var popup_41ac8585477449cfba1ad50c6c12c471 = L.popup({"maxWidth": 300, "minWidth": 0});

        
            var html_5b00202c4ca342f3b617eee406572221 = $(`<div id="html_5b00202c4ca342f3b617eee406572221" style="width: 100.0%; height: 100.0%;">Hospital name: Covenant<br> Number of COVID patients: 0<br> Number of ICU patients: 0</div>`)[0];
            popup_41ac8585477449cfba1ad50c6c12c471.setContent(html_5b00202c4ca342f3b617eee406572221);
        

        circle_459ba53a086c4f628cae48eb299ae7e6.bindPopup(popup_41ac8585477449cfba1ad50c6c12c471)
        ;

        
    
    
            var circle_fb09305ae44b48aaa467bf02a73112e9 = L.circle(
                [43.0143291, -83.7329937],
                {"bubblingMouseEvents": true, "color": "green", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "green", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 4714.0, "stroke": true, "weight": 3}
            ).addTo(map_f65a8e07e7a4448d827b78adbafd5af8);
        
    
        var popup_2da0ae7c02584b53a7bba553713f6fd7 = L.popup({"maxWidth": 300, "minWidth": 0});

        
            var html_7bb76e4a9d574ca594a269823db86e82 = $(`<div id="html_7bb76e4a9d574ca594a269823db86e82" style="width: 100.0%; height: 100.0%;">Hospital name: McLaren<br> Number of COVID patients: 2<br> Number of ICU patients: 0</div>`)[0];
            popup_2da0ae7c02584b53a7bba553713f6fd7.setContent(html_7bb76e4a9d574ca594a269823db86e82);
        

        circle_fb09305ae44b48aaa467bf02a73112e9.bindPopup(popup_2da0ae7c02584b53a7bba553713f6fd7)
        ;

        
    
    
            var circle_cc7579d64e5a4b3e87c374bc781972e9 = L.circle(
                [42.3904977, -83.3738935],
                {"bubblingMouseEvents": true, "color": "green", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "green", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 4755.0, "stroke": true, "weight": 3}
            ).addTo(map_f65a8e07e7a4448d827b78adbafd5af8);
        
    
        var popup_a691f45d49144a5a8b46efaff6cbfcba = L.popup({"maxWidth": 300, "minWidth": 0});

        
            var html_96bed850e1534843b760bb922f31060f = $(`<div id="html_96bed850e1534843b760bb922f31060f" style="width: 100.0%; height: 100.0%;">Hospital name: Spectrum<br> Number of COVID patients: 0<br> Number of ICU patients: 0</div>`)[0];
            popup_a691f45d49144a5a8b46efaff6cbfcba.setContent(html_96bed850e1534843b760bb922f31060f);
        

        circle_cc7579d64e5a4b3e87c374bc781972e9.bindPopup(popup_a691f45d49144a5a8b46efaff6cbfcba)
        ;

        
    
    
            var circle_4f537615135d475dae463cd1bf289231 = L.circle(
                [42.273725, -84.9569467],
                {"bubblingMouseEvents": true, "color": "green", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "green", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 4810.0, "stroke": true, "weight": 3}
            ).addTo(map_f65a8e07e7a4448d827b78adbafd5af8);
        
    
        var popup_9008f58e6b1d4343b16c7902568ed9c5 = L.popup({"maxWidth": 300, "minWidth": 0});

        
            var html_9b21776f3dd64582a983e436209c9a32 = $(`<div id="html_9b21776f3dd64582a983e436209c9a32" style="width: 100.0%; height: 100.0%;">Hospital name: Oaklawn Hospital<br> Number of COVID patients: 69<br> Number of ICU patients: 18</div>`)[0];
            popup_9008f58e6b1d4343b16c7902568ed9c5.setContent(html_9b21776f3dd64582a983e436209c9a32);
        

        circle_4f537615135d475dae463cd1bf289231.bindPopup(popup_9008f58e6b1d4343b16c7902568ed9c5)
        ;

        
    
    
            var circle_70d37fe6b5ad472caa293fb875a4c410 = L.circle(
                [43.33247859999999, -83.08143079999999],
                {"bubblingMouseEvents": true, "color": "green", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "green", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 4970.0, "stroke": true, "weight": 3}
            ).addTo(map_f65a8e07e7a4448d827b78adbafd5af8);
        
    
        var popup_53b1fb71891b402785290787e2b7c1e7 = L.popup({"maxWidth": 300, "minWidth": 0});

        
            var html_22b8c88505694882bbe3fdcdea42a396 = $(`<div id="html_22b8c88505694882bbe3fdcdea42a396" style="width: 100.0%; height: 100.0%;">Hospital name: Marlette Regional Hospital<br> Number of COVID patients: 4<br> Number of ICU patients: 3</div>`)[0];
            popup_53b1fb71891b402785290787e2b7c1e7.setContent(html_22b8c88505694882bbe3fdcdea42a396);
        

        circle_70d37fe6b5ad472caa293fb875a4c410.bindPopup(popup_53b1fb71891b402785290787e2b7c1e7)
        ;

        
    
    
            var circle_137f6091d7de4491a78480f1a99f38c7 = L.circle(
                [44.7311836, -85.18444459999999],
                {"bubblingMouseEvents": true, "color": "green", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "green", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5000.0, "stroke": true, "weight": 3}
            ).addTo(map_f65a8e07e7a4448d827b78adbafd5af8);
        
    
        var popup_0d917195754c4376b2673cc6c6a67d9f = L.popup({"maxWidth": 300, "minWidth": 0});

        
            var html_1b0270ced2d74fca89b94905230c52fa = $(`<div id="html_1b0270ced2d74fca89b94905230c52fa" style="width: 100.0%; height: 100.0%;">Hospital name: Kalkaska Memorial Health Center<br> Number of COVID patients: 1<br> Number of ICU patients: 0</div>`)[0];
            popup_0d917195754c4376b2673cc6c6a67d9f.setContent(html_1b0270ced2d74fca89b94905230c52fa);
        

        circle_137f6091d7de4491a78480f1a99f38c7.bindPopup(popup_0d917195754c4376b2673cc6c6a67d9f)
        ;

        
    
    
            var circle_390a041ae7be424485184b1bbe015e15 = L.circle(
                [43.8343728, -83.2783501],
                {"bubblingMouseEvents": true, "color": "green", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "green", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5129.0, "stroke": true, "weight": 3}
            ).addTo(map_f65a8e07e7a4448d827b78adbafd5af8);
        
    
        var popup_9a834c3305bf4254a2ec5841a594b671 = L.popup({"maxWidth": 300, "minWidth": 0});

        
            var html_dbd287b952674c75a7c52bd936a4e7ea = $(`<div id="html_dbd287b952674c75a7c52bd936a4e7ea" style="width: 100.0%; height: 100.0%;">Hospital name: Scheurer Hospital<br> Number of COVID patients: 14<br> Number of ICU patients: 5</div>`)[0];
            popup_9a834c3305bf4254a2ec5841a594b671.setContent(html_dbd287b952674c75a7c52bd936a4e7ea);
        

        circle_390a041ae7be424485184b1bbe015e15.bindPopup(popup_9a834c3305bf4254a2ec5841a594b671)
        ;

        
    
    
            var circle_b401d20b6cab4a9d82d78dd7df127b3b = L.circle(
                [41.7950424, -85.4073887],
                {"bubblingMouseEvents": true, "color": "green", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "green", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5150.0, "stroke": true, "weight": 3}
            ).addTo(map_f65a8e07e7a4448d827b78adbafd5af8);
        
    
        var popup_99ebcd1fc33f4215a07f6d3c8bf3852c = L.popup({"maxWidth": 300, "minWidth": 0});

        
            var html_12758992c06644fe93d05812b007b41d = $(`<div id="html_12758992c06644fe93d05812b007b41d" style="width: 100.0%; height: 100.0%;">Hospital name: Sturgis Hospital<br> Number of COVID patients: 7<br> Number of ICU patients: 2</div>`)[0];
            popup_99ebcd1fc33f4215a07f6d3c8bf3852c.setContent(html_12758992c06644fe93d05812b007b41d);
        

        circle_b401d20b6cab4a9d82d78dd7df127b3b.bindPopup(popup_99ebcd1fc33f4215a07f6d3c8bf3852c)
        ;

        
    
    
            var circle_e8d68a7930c84653a7a2bc1d61c6c3b8 = L.circle(
                [42.7337155, -84.5351111],
                {"bubblingMouseEvents": true, "color": "green", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "green", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5209.0, "stroke": true, "weight": 3}
            ).addTo(map_f65a8e07e7a4448d827b78adbafd5af8);
        
    
        var popup_4de02eb8053a448ca204b684a03de611 = L.popup({"maxWidth": 300, "minWidth": 0});

        
            var html_36e45a22572547a0bed42badf1652201 = $(`<div id="html_36e45a22572547a0bed42badf1652201" style="width: 100.0%; height: 100.0%;">Hospital name: Sparrow Health System<br> Number of COVID patients: 0<br> Number of ICU patients: 0</div>`)[0];
            popup_4de02eb8053a448ca204b684a03de611.setContent(html_36e45a22572547a0bed42badf1652201);
        

        circle_e8d68a7930c84653a7a2bc1d61c6c3b8.bindPopup(popup_4de02eb8053a448ca204b684a03de611)
        ;

        
    
    
            var circle_9552fc597f554514badc47eba20882b0 = L.circle(
                [42.7751338, -86.1145293],
                {"bubblingMouseEvents": true, "color": "green", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "green", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5270.0, "stroke": true, "weight": 3}
            ).addTo(map_f65a8e07e7a4448d827b78adbafd5af8);
        
    
        var popup_7134568e5711475d98ea17e4bd10be15 = L.popup({"maxWidth": 300, "minWidth": 0});

        
            var html_20650ec10f6e4cb8adb7631947f59a5f = $(`<div id="html_20650ec10f6e4cb8adb7631947f59a5f" style="width: 100.0%; height: 100.0%;">Hospital name: Holland Community Hospital<br> Number of COVID patients: 6<br> Number of ICU patients: 4</div>`)[0];
            popup_7134568e5711475d98ea17e4bd10be15.setContent(html_20650ec10f6e4cb8adb7631947f59a5f);
        

        circle_9552fc597f554514badc47eba20882b0.bindPopup(popup_7134568e5711475d98ea17e4bd10be15)
        ;

        
    
    
            var circle_7a18f84a51a3464fb1caaba2c57ba361 = L.circle(
                [46.4247854, -86.6252839],
                {"bubblingMouseEvents": true, "color": "green", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "green", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5286.0, "stroke": true, "weight": 3}
            ).addTo(map_f65a8e07e7a4448d827b78adbafd5af8);
        
    
        var popup_068a34bc49d84512a08468303eec6377 = L.popup({"maxWidth": 300, "minWidth": 0});

        
            var html_7537ff538b554c82b538425a9b2f0019 = $(`<div id="html_7537ff538b554c82b538425a9b2f0019" style="width: 100.0%; height: 100.0%;">Hospital name: Munising Memorial Hospital<br> Number of COVID patients: 0<br> Number of ICU patients: 0</div>`)[0];
            popup_068a34bc49d84512a08468303eec6377.setContent(html_7537ff538b554c82b538425a9b2f0019);
        

        circle_7a18f84a51a3464fb1caaba2c57ba361.bindPopup(popup_068a34bc49d84512a08468303eec6377)
        ;

        
    
    
            var circle_497bcc09f2734682a25bda52a17ae600 = L.circle(
                [46.731815, -88.42480499999999],
                {"bubblingMouseEvents": true, "color": "green", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "green", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5300.0, "stroke": true, "weight": 3}
            ).addTo(map_f65a8e07e7a4448d827b78adbafd5af8);
        
    
        var popup_541280c1c7ff4a119a2d1ee7c518a404 = L.popup({"maxWidth": 300, "minWidth": 0});

        
            var html_59f109a813094dfa9008dd016ae73fb5 = $(`<div id="html_59f109a813094dfa9008dd016ae73fb5" style="width: 100.0%; height: 100.0%;">Hospital name: Baraga County Memorial Hospital<br> Number of COVID patients: 1<br> Number of ICU patients: 0</div>`)[0];
            popup_541280c1c7ff4a119a2d1ee7c518a404.setContent(html_59f109a813094dfa9008dd016ae73fb5);
        

        circle_497bcc09f2734682a25bda52a17ae600.bindPopup(popup_541280c1c7ff4a119a2d1ee7c518a404)
        ;

        
    
    
            var circle_b15653c5560e485fbac7f5d160b28ba2 = L.circle(
                [46.5431985, -87.4114733],
                {"bubblingMouseEvents": true, "color": "green", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "green", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5313.0, "stroke": true, "weight": 3}
            ).addTo(map_f65a8e07e7a4448d827b78adbafd5af8);
        
    
        var popup_f120d3cb9a954150baba16a05b0acc7d = L.popup({"maxWidth": 300, "minWidth": 0});

        
            var html_f53633ea656b4ebc9b5d3e5b7252fd45 = $(`<div id="html_f53633ea656b4ebc9b5d3e5b7252fd45" style="width: 100.0%; height: 100.0%;">Hospital name: UP Health<br> Number of COVID patients: 0<br> Number of ICU patients: 1</div>`)[0];
            popup_f120d3cb9a954150baba16a05b0acc7d.setContent(html_f53633ea656b4ebc9b5d3e5b7252fd45);
        

        circle_b15653c5560e485fbac7f5d160b28ba2.bindPopup(popup_f120d3cb9a954150baba16a05b0acc7d)
        ;

        
    
    
            var circle_5a5c1543a3344dd9be653cf57563d0ed = L.circle(
                [43.4237214, -82.83219110000002],
                {"bubblingMouseEvents": true, "color": "green", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "green", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5340.0, "stroke": true, "weight": 3}
            ).addTo(map_f65a8e07e7a4448d827b78adbafd5af8);
        
    
        var popup_247da8b56fd14eebb2602400deacfc10 = L.popup({"maxWidth": 300, "minWidth": 0});

        
            var html_fb8734effe0d4e97a2ae92a5f7d073bd = $(`<div id="html_fb8734effe0d4e97a2ae92a5f7d073bd" style="width: 100.0%; height: 100.0%;">Hospital name: McKenzie Memorial Hospital<br> Number of COVID patients: 0<br> Number of ICU patients: 0</div>`)[0];
            popup_247da8b56fd14eebb2602400deacfc10.setContent(html_fb8734effe0d4e97a2ae92a5f7d073bd);
        

        circle_5a5c1543a3344dd9be653cf57563d0ed.bindPopup(popup_247da8b56fd14eebb2602400deacfc10)
        ;

        
    
    
            var circle_1cf1055128b846cabd5173999a953c0e = L.circle(
                [42.4644518, -83.26180190000001],
                {"bubblingMouseEvents": true, "color": "green", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "green", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5375.0, "stroke": true, "weight": 3}
            ).addTo(map_f65a8e07e7a4448d827b78adbafd5af8);
        
    
        var popup_e4f9c1d991fb4991a57e1156b8f4874e = L.popup({"maxWidth": 300, "minWidth": 0});

        
            var html_c072ba05eb5a4e08a710b09708176574 = $(`<div id="html_c072ba05eb5a4e08a710b09708176574" style="width: 100.0%; height: 100.0%;">Hospital name: Straith Hospital<br> Number of COVID patients: 5<br> Number of ICU patients: 1</div>`)[0];
            popup_e4f9c1d991fb4991a57e1156b8f4874e.setContent(html_c072ba05eb5a4e08a710b09708176574);
        

        circle_1cf1055128b846cabd5173999a953c0e.bindPopup(popup_e4f9c1d991fb4991a57e1156b8f4874e)
        ;

        
    
    
            var circle_88b5b7c948e6435fa0541cbd789bd79a = L.circle(
                [42.2161722, -83.3553842],
                {"bubblingMouseEvents": true, "color": "green", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "green", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5413.0, "stroke": true, "weight": 3}
            ).addTo(map_f65a8e07e7a4448d827b78adbafd5af8);
        
    
        var popup_4b7c0e0d99ae45dbb515f6278a4440dc = L.popup({"maxWidth": 300, "minWidth": 0});

        
            var html_191b4bd2419c4e4b98412d014231f06c = $(`<div id="html_191b4bd2419c4e4b98412d014231f06c" style="width: 100.0%; height: 100.0%;">Hospital name: Metro<br> Number of COVID patients: 8<br> Number of ICU patients: 2</div>`)[0];
            popup_4b7c0e0d99ae45dbb515f6278a4440dc.setContent(html_191b4bd2419c4e4b98412d014231f06c);
        

        circle_88b5b7c948e6435fa0541cbd789bd79a.bindPopup(popup_4b7c0e0d99ae45dbb515f6278a4440dc)
        ;

        
    
    
            var circle_034413b2d2e24b62b52eb34934da52e9 = L.circle(
                [45.7427923, -87.09630369999999],
                {"bubblingMouseEvents": true, "color": "green", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "green", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5442.0, "stroke": true, "weight": 3}
            ).addTo(map_f65a8e07e7a4448d827b78adbafd5af8);
        
    
        var popup_95c01531f486493a935b9666ede4d615 = L.popup({"maxWidth": 300, "minWidth": 0});

        
            var html_0980a26607c84f93a8ae77dd212b8a22 = $(`<div id="html_0980a26607c84f93a8ae77dd212b8a22" style="width: 100.0%; height: 100.0%;">Hospital name: OSF St. Francis Hospital<br> Number of COVID patients: 1<br> Number of ICU patients: 0</div>`)[0];
            popup_95c01531f486493a935b9666ede4d615.setContent(html_0980a26607c84f93a8ae77dd212b8a22);
        

        circle_034413b2d2e24b62b52eb34934da52e9.bindPopup(popup_95c01531f486493a935b9666ede4d615)
        ;

        
    
    
            var circle_9d1b923f54b542278040d242e60f8713 = L.circle(
                [43.5281974, -82.73416929999999],
                {"bubblingMouseEvents": true, "color": "green", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "green", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5500.0, "stroke": true, "weight": 3}
            ).addTo(map_f65a8e07e7a4448d827b78adbafd5af8);
        
    
        var popup_e84bef623f374880826a7484ad448d1e = L.popup({"maxWidth": 300, "minWidth": 0});

        
            var html_98e32db591634589a39d8d6b7431092e = $(`<div id="html_98e32db591634589a39d8d6b7431092e" style="width: 100.0%; height: 100.0%;">Hospital name: Deckerville Community Hospital<br> Number of COVID patients: 1<br> Number of ICU patients: 0</div>`)[0];
            popup_e84bef623f374880826a7484ad448d1e.setContent(html_98e32db591634589a39d8d6b7431092e);
        

        circle_9d1b923f54b542278040d242e60f8713.bindPopup(popup_e84bef623f374880826a7484ad448d1e)
        ;

        
    
    
            var circle_49aefcbd1b4b473ab119040c94959204 = L.circle(
                [43.6040499, -83.18229079999999],
                {"bubblingMouseEvents": true, "color": "green", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "green", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5521.0, "stroke": true, "weight": 3}
            ).addTo(map_f65a8e07e7a4448d827b78adbafd5af8);
        
    
        var popup_99934aa158eb41cdbc039de8e7e937ec = L.popup({"maxWidth": 300, "minWidth": 0});

        
            var html_51821a07d50c4cdfbeea7a3c35bdb92c = $(`<div id="html_51821a07d50c4cdfbeea7a3c35bdb92c" style="width: 100.0%; height: 100.0%;">Hospital name: Hills and Dales General Hospital<br> Number of COVID patients: 0<br> Number of ICU patients: 0</div>`)[0];
            popup_99934aa158eb41cdbc039de8e7e937ec.setContent(html_51821a07d50c4cdfbeea7a3c35bdb92c);
        

        circle_49aefcbd1b4b473ab119040c94959204.bindPopup(popup_99934aa158eb41cdbc039de8e7e937ec)
        ;

        
    
    
            var circle_2e887b5836554ebf8b5cebc54371aba9 = L.circle(
                [45.8098408, -88.0445283],
                {"bubblingMouseEvents": true, "color": "green", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "green", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5571.0, "stroke": true, "weight": 3}
            ).addTo(map_f65a8e07e7a4448d827b78adbafd5af8);
        
    
        var popup_874947c608d641ea8c63001ae8106bbe = L.popup({"maxWidth": 300, "minWidth": 0});

        
            var html_1dcff14192b343f3927839565b92b3e2 = $(`<div id="html_1dcff14192b343f3927839565b92b3e2" style="width: 100.0%; height: 100.0%;">Hospital name: Dickinson Memorial Health Care System<br> Number of COVID patients: 22<br> Number of ICU patients: 1</div>`)[0];
            popup_874947c608d641ea8c63001ae8106bbe.setContent(html_1dcff14192b343f3927839565b92b3e2);
        

        circle_2e887b5836554ebf8b5cebc54371aba9.bindPopup(popup_874947c608d641ea8c63001ae8106bbe)
        ;

        
    
    
            var circle_66afa65b65fb44929b5037c7a8b23e11 = L.circle(
                [45.9466777, -86.2761068],
                {"bubblingMouseEvents": true, "color": "green", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "green", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5583.0, "stroke": true, "weight": 3}
            ).addTo(map_f65a8e07e7a4448d827b78adbafd5af8);
        
    
        var popup_d2137ea6d37b4a4fb9f03d1d8c6c0f7f = L.popup({"maxWidth": 300, "minWidth": 0});

        
            var html_9aa739090cf743868054a5096ca2118e = $(`<div id="html_9aa739090cf743868054a5096ca2118e" style="width: 100.0%; height: 100.0%;">Hospital name: Schoolcraft Memorial Hospital<br> Number of COVID patients: 35<br> Number of ICU patients: 6</div>`)[0];
            popup_d2137ea6d37b4a4fb9f03d1d8c6c0f7f.setContent(html_9aa739090cf743868054a5096ca2118e);
        

        circle_66afa65b65fb44929b5037c7a8b23e11.bindPopup(popup_d2137ea6d37b4a4fb9f03d1d8c6c0f7f)
        ;

        
    
    
            var circle_0a118f11b5d64254ad5394dbcea69337 = L.circle(
                [42.49533479999999, -84.6584235],
                {"bubblingMouseEvents": true, "color": "green", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "green", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5600.0, "stroke": true, "weight": 3}
            ).addTo(map_f65a8e07e7a4448d827b78adbafd5af8);
        
    
        var popup_4e661fa0c0cb4465adef940a6532b28e = L.popup({"maxWidth": 300, "minWidth": 0});

        
            var html_6d71ddc6d1b943ebb18809dc729610ee = $(`<div id="html_6d71ddc6d1b943ebb18809dc729610ee" style="width: 100.0%; height: 100.0%;">Hospital name: Eaton Rapids Medical Center<br> Number of COVID patients: 0<br> Number of ICU patients: 0</div>`)[0];
            popup_4e661fa0c0cb4465adef940a6532b28e.setContent(html_6d71ddc6d1b943ebb18809dc729610ee);
        

        circle_0a118f11b5d64254ad5394dbcea69337.bindPopup(popup_4e661fa0c0cb4465adef940a6532b28e)
        ;

        
    
    
            var circle_cf2c25589e4a419bbea1a7af60980f34 = L.circle(
                [45.8907177, -84.7298751],
                {"bubblingMouseEvents": true, "color": "green", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "green", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5600.0, "stroke": true, "weight": 3}
            ).addTo(map_f65a8e07e7a4448d827b78adbafd5af8);
        
    
        var popup_c0da31780f9a43fca5a96bfeabf429d4 = L.popup({"maxWidth": 300, "minWidth": 0});

        
            var html_9abeec4a509c4288bfac400c391a6776 = $(`<div id="html_9abeec4a509c4288bfac400c391a6776" style="width: 100.0%; height: 100.0%;">Hospital name: Mackinac Straits Hospital<br> Number of COVID patients: 0<br> Number of ICU patients: 0</div>`)[0];
            popup_c0da31780f9a43fca5a96bfeabf429d4.setContent(html_9abeec4a509c4288bfac400c391a6776);
        

        circle_cf2c25589e4a419bbea1a7af60980f34.bindPopup(popup_c0da31780f9a43fca5a96bfeabf429d4)
        ;

        
    
    
            var circle_46fa3b0213264b9a9256f4659724c2be = L.circle(
                [46.497886, -84.35074589999999],
                {"bubblingMouseEvents": true, "color": "green", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "green", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5691.0, "stroke": true, "weight": 3}
            ).addTo(map_f65a8e07e7a4448d827b78adbafd5af8);
        
    
        var popup_1494753abbb0429ca578be53a0e7b930 = L.popup({"maxWidth": 300, "minWidth": 0});

        
            var html_ed0ad93639844d5e885f9630998d87db = $(`<div id="html_ed0ad93639844d5e885f9630998d87db" style="width: 100.0%; height: 100.0%;">Hospital name: War Memorial Hospital<br> Number of COVID patients: 1<br> Number of ICU patients: 0</div>`)[0];
            popup_1494753abbb0429ca578be53a0e7b930.setContent(html_ed0ad93639844d5e885f9630998d87db);
        

        circle_46fa3b0213264b9a9256f4659724c2be.bindPopup(popup_1494753abbb0429ca578be53a0e7b930)
        ;

        
    
    
            var circle_858d1a29c7144db481a880c827b546ec = L.circle(
                [46.352985, -85.5156125],
                {"bubblingMouseEvents": true, "color": "green", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "green", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5818.0, "stroke": true, "weight": 3}
            ).addTo(map_f65a8e07e7a4448d827b78adbafd5af8);
        
    
        var popup_a14af2ba2fca48278e4d18e4547b73c4 = L.popup({"maxWidth": 300, "minWidth": 0});

        
            var html_5bbe9faa921d49dea8fe01c040be61d1 = $(`<div id="html_5bbe9faa921d49dea8fe01c040be61d1" style="width: 100.0%; height: 100.0%;">Hospital name: Helen Newberry Joy Hospital<br> Number of COVID patients: 51<br> Number of ICU patients: 11</div>`)[0];
            popup_a14af2ba2fca48278e4d18e4547b73c4.setContent(html_5bbe9faa921d49dea8fe01c040be61d1);
        

        circle_858d1a29c7144db481a880c827b546ec.bindPopup(popup_a14af2ba2fca48278e4d18e4547b73c4)
        ;

        
    
    
            var circle_a814ae89055b49ceaff505a6a2046ad5 = L.circle(
                [47.2389105, -88.4434608],
                {"bubblingMouseEvents": true, "color": "green", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "green", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5869.0, "stroke": true, "weight": 3}
            ).addTo(map_f65a8e07e7a4448d827b78adbafd5af8);
        
    
        var popup_d19cf32b757042458110c1c8391e8b8e = L.popup({"maxWidth": 300, "minWidth": 0});

        
            var html_26a62a87dfda49829b4b6b9e61a8e070 = $(`<div id="html_26a62a87dfda49829b4b6b9e61a8e070" style="width: 100.0%; height: 100.0%;">Hospital name: Aspirus<br> Number of COVID patients: 2<br> Number of ICU patients: 0</div>`)[0];
            popup_d19cf32b757042458110c1c8391e8b8e.setContent(html_26a62a87dfda49829b4b6b9e61a8e070);
        

        circle_a814ae89055b49ceaff505a6a2046ad5.bindPopup(popup_d19cf32b757042458110c1c8391e8b8e)
        ;

        
    
    
            var circle_fb6500a459624a6290d2128c1eef51d5 = L.circle(
                [43.8426786, -82.65201549999999],
                {"bubblingMouseEvents": true, "color": "green", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "green", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5933.0, "stroke": true, "weight": 3}
            ).addTo(map_f65a8e07e7a4448d827b78adbafd5af8);
        
    
        var popup_60abe54f79e0485c9d4f321c0920e533 = L.popup({"maxWidth": 300, "minWidth": 0});

        
            var html_45d11cab4e7e4ac48f0e10d419140cf8 = $(`<div id="html_45d11cab4e7e4ac48f0e10d419140cf8" style="width: 100.0%; height: 100.0%;">Hospital name: Harbor Beach Community Hospital<br> Number of COVID patients: 1<br> Number of ICU patients: 1</div>`)[0];
            popup_60abe54f79e0485c9d4f321c0920e533.setContent(html_45d11cab4e7e4ac48f0e10d419140cf8);
        

        circle_fb6500a459624a6290d2128c1eef51d5.bindPopup(popup_60abe54f79e0485c9d4f321c0920e533)
        ;

        
    
</script>