
<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://rawcdn.githack.com/python-visualization/folium/master/folium/templates/leaflet.awesome.rotate.css"/>
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_2173242a247c4774acd8438a4705b791 {
                    position: relative;
                    width: 80.0%;
                    height: 80.0%;
                    left: 0.0%;
                    top: 0.0%;
                    margin: auto;
                }
            </style>   
</head>

<body>    
    <h2><a href="/about">Back</a></h2>
    <div style="display: flex">
        <div id="datetime"></div>
    </div>
    <div class="folium-map" id="map_f65a8e07e7a4448d827b78adbafd5af8" ></div>
    
            <div class="folium-map" id="map_2173242a247c4774acd8438a4705b791" ></div>
        
</body>
<script>
    var dt = new Date();
    document.getElementById("datetime").innerHTML = "Last Updated: " + dt.toLocaleDateString() + " " + dt.toLocaleTimeString();
</script>
<script>    
    
            var map_2173242a247c4774acd8438a4705b791 = L.map(
                "map_2173242a247c4774acd8438a4705b791",
                {
                    center: [44.3148, -85.6024],
                    crs: L.CRS.EPSG3857,
                    zoom: 7.5,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_7459fbf0670a445a80a55fb686a9ddd3 = L.tileLayer(
                "https://stamen-tiles-{s}.a.ssl.fastly.net/terrain/{z}/{x}/{y}.jpg",
                {"attribution": "Map tiles by \u003ca href=\"http://stamen.com\"\u003eStamen Design\u003c/a\u003e, under \u003ca href=\"http://creativecommons.org/licenses/by/3.0\"\u003eCC BY 3.0\u003c/a\u003e. Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://creativecommons.org/licenses/by-sa/3.0\"\u003eCC BY SA\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_2173242a247c4774acd8438a4705b791);
        
    
            var circle_40a15e5f82244f73b0744f74f1a6e2d7 = L.circle(
                [43.0214202, -83.7045634],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "red", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 10000.0, "stroke": true, "weight": 3}
            ).addTo(map_2173242a247c4774acd8438a4705b791);
        
    
        var popup_b7eea0193e13457d97eea3dd38a63112 = L.popup({"maxWidth": 300, "minWidth": 0});

        
            var html_68b110c320814d4cae95e7c9617752b2 = $(`<div id="html_68b110c320814d4cae95e7c9617752b2" style="width: 100.0%; height: 100.0%;">Hospital name: Hurley Medical Center<br> Number of COVID patients: 71<br> Number of ICU patients: 24</div>`)[0];
            popup_b7eea0193e13457d97eea3dd38a63112.setContent(html_68b110c320814d4cae95e7c9617752b2);
        

        circle_40a15e5f82244f73b0744f74f1a6e2d7.bindPopup(popup_b7eea0193e13457d97eea3dd38a63112)
        ;

        
    
    
            var circle_614db2ef485547e3b7979a7ff9688d2d = L.circle(
                [44.7567962, -85.57745709999999],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "red", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 8080.000000000001, "stroke": true, "weight": 3}
            ).addTo(map_2173242a247c4774acd8438a4705b791);
        
    
        var popup_3e5f0967adbe43118e199489f353b15d = L.popup({"maxWidth": 300, "minWidth": 0});

        
            var html_8b9cf30439994fd6b026317fbad84af3 = $(`<div id="html_8b9cf30439994fd6b026317fbad84af3" style="width: 100.0%; height: 100.0%;">Hospital name: Munson Health System<br> Number of COVID patients: 7<br> Number of ICU patients: 0</div>`)[0];
            popup_3e5f0967adbe43118e199489f353b15d.setContent(html_8b9cf30439994fd6b026317fbad84af3);
        

        circle_614db2ef485547e3b7979a7ff9688d2d.bindPopup(popup_3e5f0967adbe43118e199489f353b15d)
        ;

        
    
    
            var circle_5435f26d1819446da9a40b3a0cb301ad = L.circle(
                [42.5145386, -83.1926244],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "red", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 8600.0, "stroke": true, "weight": 3}
            ).addTo(map_2173242a247c4774acd8438a4705b791);
        
    
        var popup_5a97ce47a5a148058e72f328178a87d1 = L.popup({"maxWidth": 300, "minWidth": 0});

        
            var html_2815d6b0c8ba40cb85ce4144ded34813 = $(`<div id="html_2815d6b0c8ba40cb85ce4144ded34813" style="width: 100.0%; height: 100.0%;">Hospital name: Beaumont<br> Number of COVID patients: 0<br> Number of ICU patients: 0</div>`)[0];
            popup_5a97ce47a5a148058e72f328178a87d1.setContent(html_2815d6b0c8ba40cb85ce4144ded34813);
        

        circle_5435f26d1819446da9a40b3a0cb301ad.bindPopup(popup_5a97ce47a5a148058e72f328178a87d1)
        ;

        
    
    
            var circle_429e88e25268452cb4850c21a6076e2f = L.circle(
                [42.28391430000001, -83.7332766],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "red", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 9180.0, "stroke": true, "weight": 3}
            ).addTo(map_2173242a247c4774acd8438a4705b791);
        
    
        var popup_5f6038f4f57945d39b31818adcf7b79c = L.popup({"maxWidth": 300, "minWidth": 0});

        
            var html_0b4bfadc7b854c7186f726ca8d542927 = $(`<div id="html_0b4bfadc7b854c7186f726ca8d542927" style="width: 100.0%; height: 100.0%;">Hospital name: Michigan Medicine<br> Number of COVID patients: 125<br> Number of ICU patients: 35</div>`)[0];
            popup_5f6038f4f57945d39b31818adcf7b79c.setContent(html_0b4bfadc7b854c7186f726ca8d542927);
        

        circle_429e88e25268452cb4850c21a6076e2f.bindPopup(popup_5f6038f4f57945d39b31818adcf7b79c)
        ;

        
    
    
            var circle_fe2a49149ea24d2e832c81d817376483 = L.circle(
                [43.6355505, -84.2608259],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "red", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 7685.0, "stroke": true, "weight": 3}
            ).addTo(map_2173242a247c4774acd8438a4705b791);
        
    
        var popup_d597253e46d94bc3a5cd44f325c54ed4 = L.popup({"maxWidth": 300, "minWidth": 0});

        
            var html_6569378848b84e0f8b7147845f3530b4 = $(`<div id="html_6569378848b84e0f8b7147845f3530b4" style="width: 100.0%; height: 100.0%;">Hospital name: MidMichigan Health<br> Number of COVID patients: 15<br> Number of ICU patients: 5</div>`)[0];
            popup_d597253e46d94bc3a5cd44f325c54ed4.setContent(html_6569378848b84e0f8b7147845f3530b4);
        

        circle_fe2a49149ea24d2e832c81d817376483.bindPopup(popup_d597253e46d94bc3a5cd44f325c54ed4)
        ;

        
    
    
            var circle_1dd9461a35584c9fa74fc246f71c3ed8 = L.circle(
                [42.3635022, -83.07581019999999],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "red", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 8970.0, "stroke": true, "weight": 3}
            ).addTo(map_2173242a247c4774acd8438a4705b791);
        
    
        var popup_9996a99d0f9845aca5f8bda6060c5e5f = L.popup({"maxWidth": 300, "minWidth": 0});

        
            var html_868e82b07f1b417b918a2f95a1ed311c = $(`<div id="html_868e82b07f1b417b918a2f95a1ed311c" style="width: 100.0%; height: 100.0%;">Hospital name: Henry Ford Health System<br> Number of COVID patients: 19<br> Number of ICU patients: 9</div>`)[0];
            popup_9996a99d0f9845aca5f8bda6060c5e5f.setContent(html_868e82b07f1b417b918a2f95a1ed311c);
        

        circle_1dd9461a35584c9fa74fc246f71c3ed8.bindPopup(popup_9996a99d0f9845aca5f8bda6060c5e5f)
        ;

        
    
    
            var circle_fd13593c66f449ed86e133009b4a5cfb = L.circle(
                [42.3543741, -83.0562734],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "red", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 8939.999999999998, "stroke": true, "weight": 3}
            ).addTo(map_2173242a247c4774acd8438a4705b791);
        
    
        var popup_9dc5f9b066cf4f129fb36c3421cdf69c = L.popup({"maxWidth": 300, "minWidth": 0});

        
            var html_a00cb78a9b7d4fea9e6cc1cd3531d9a5 = $(`<div id="html_a00cb78a9b7d4fea9e6cc1cd3531d9a5" style="width: 100.0%; height: 100.0%;">Hospital name: Detroit Medical Center<br> Number of COVID patients: 0<br> Number of ICU patients: 0</div>`)[0];
            popup_9dc5f9b066cf4f129fb36c3421cdf69c.setContent(html_a00cb78a9b7d4fea9e6cc1cd3531d9a5);
        

        circle_fd13593c66f449ed86e133009b4a5cfb.bindPopup(popup_9dc5f9b066cf4f129fb36c3421cdf69c)
        ;

        
    
    
            var circle_d9f445f3a4cc47719d5a728a63cc96af = L.circle(
                [41.9352768, -85.6479257],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "red", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 6819.999999999999, "stroke": true, "weight": 3}
            ).addTo(map_2173242a247c4774acd8438a4705b791);
        
    
        var popup_a10ab38521444ce08bc8122896e04dc0 = L.popup({"maxWidth": 300, "minWidth": 0});

        
            var html_8dc83721fe834c96857c1752992885f8 = $(`<div id="html_8dc83721fe834c96857c1752992885f8" style="width: 100.0%; height: 100.0%;">Hospital name: Three Rivers Health<br> Number of COVID patients: 23<br> Number of ICU patients: 6</div>`)[0];
            popup_a10ab38521444ce08bc8122896e04dc0.setContent(html_8dc83721fe834c96857c1752992885f8);
        

        circle_d9f445f3a4cc47719d5a728a63cc96af.bindPopup(popup_a10ab38521444ce08bc8122896e04dc0)
        ;

        
    
    
            var circle_c673afb1ebb048539e828b6c0897ba85 = L.circle(
                [42.4984276, -83.08378069999999],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "red", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 8755.0, "stroke": true, "weight": 3}
            ).addTo(map_2173242a247c4774acd8438a4705b791);
        
    
        var popup_b55058496b6141c3b00966bd3b338764 = L.popup({"maxWidth": 300, "minWidth": 0});

        
            var html_276493bbe4224d85b423762ce67aaa13 = $(`<div id="html_276493bbe4224d85b423762ce67aaa13" style="width: 100.0%; height: 100.0%;">Hospital name: Ascension<br> Number of COVID patients: 0<br> Number of ICU patients: 0</div>`)[0];
            popup_b55058496b6141c3b00966bd3b338764.setContent(html_276493bbe4224d85b423762ce67aaa13);
        

        circle_c673afb1ebb048539e828b6c0897ba85.bindPopup(popup_b55058496b6141c3b00966bd3b338764)
        ;

        
    
    
            var circle_f8c0d978205040ffad9105fbe01fb389 = L.circle(
                [41.9381529, -84.9893546],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "red", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 6415.0, "stroke": true, "weight": 3}
            ).addTo(map_2173242a247c4774acd8438a4705b791);
        
    
        var popup_143b9b3a211f4064a6d38fa91c8c03cf = L.popup({"maxWidth": 300, "minWidth": 0});

        
            var html_1fefa7db480441038a35c137a52a336e = $(`<div id="html_1fefa7db480441038a35c137a52a336e" style="width: 100.0%; height: 100.0%;">Hospital name: ProMedica<br> Number of COVID patients: 0<br> Number of ICU patients: 0</div>`)[0];
            popup_143b9b3a211f4064a6d38fa91c8c03cf.setContent(html_1fefa7db480441038a35c137a52a336e);
        

        circle_f8c0d978205040ffad9105fbe01fb389.bindPopup(popup_143b9b3a211f4064a6d38fa91c8c03cf)
        ;

        
    
    
            var circle_101727a36304437fb780d2c9ef024ec6 = L.circle(
                [43.215921, -85.073668],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "red", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5940.0, "stroke": true, "weight": 3}
            ).addTo(map_2173242a247c4774acd8438a4705b791);
        
    
        var popup_d4f8f828c76c4839828697f32128c58b = L.popup({"maxWidth": 300, "minWidth": 0});

        
            var html_c3b2eb787a7c4e229259d2d33cfd3128 = $(`<div id="html_c3b2eb787a7c4e229259d2d33cfd3128" style="width: 100.0%; height: 100.0%;">Hospital name: Sheridan Community Hospital<br> Number of COVID patients: 0<br> Number of ICU patients: 0</div>`)[0];
            popup_d4f8f828c76c4839828697f32128c58b.setContent(html_c3b2eb787a7c4e229259d2d33cfd3128);
        

        circle_101727a36304437fb780d2c9ef024ec6.bindPopup(popup_d4f8f828c76c4839828697f32128c58b)
        ;

        
    
    
            var circle_a2dd814b069246a2a963ff142fb13938 = L.circle(
                [41.8722716, -85.19469629999999],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "red", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 8455.0, "stroke": true, "weight": 3}
            ).addTo(map_2173242a247c4774acd8438a4705b791);
        
    
        var popup_066eb77d91d64ca2a44a7c5095a2fc1a = L.popup({"maxWidth": 300, "minWidth": 0});

        
            var html_eae542cfef3644c9aaef0f91386934d1 = $(`<div id="html_eae542cfef3644c9aaef0f91386934d1" style="width: 100.0%; height: 100.0%;">Hospital name: Bronson<br> Number of COVID patients: 0<br> Number of ICU patients: 0</div>`)[0];
            popup_066eb77d91d64ca2a44a7c5095a2fc1a.setContent(html_eae542cfef3644c9aaef0f91386934d1);
        

        circle_a2dd814b069246a2a963ff142fb13938.bindPopup(popup_066eb77d91d64ca2a44a7c5095a2fc1a)
        ;

        
    
    
            var circle_955452d3f6784f51a3c8b45c4270292e = L.circle(
                [42.4349064, -83.4278728],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "red", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 8810.0, "stroke": true, "weight": 3}
            ).addTo(map_2173242a247c4774acd8438a4705b791);
        
    
        var popup_435e4d03e5704495a0be4bae46fb5236 = L.popup({"maxWidth": 300, "minWidth": 0});

        
            var html_76e8aedaa07943ac9628dc82b529b94e = $(`<div id="html_76e8aedaa07943ac9628dc82b529b94e" style="width: 100.0%; height: 100.0%;">Hospital name: Trinity<br> Number of COVID patients: 129<br> Number of ICU patients: 37</div>`)[0];
            popup_435e4d03e5704495a0be4bae46fb5236.setContent(html_76e8aedaa07943ac9628dc82b529b94e);
        

        circle_955452d3f6784f51a3c8b45c4270292e.bindPopup(popup_435e4d03e5704495a0be4bae46fb5236)
        ;

        
    
    
            var circle_9a13bddf0d994d0bbf9c4d868b5c88d4 = L.circle(
                [42.63423299999999, -83.3092325],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "red", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5040.0, "stroke": true, "weight": 3}
            ).addTo(map_2173242a247c4774acd8438a4705b791);
        
    
        var popup_ec18b90ce4b84fae817b662ab648136e = L.popup({"maxWidth": 300, "minWidth": 0});

        
            var html_80347a9f23d94bdcb3cfbaf5e8e5ac69 = $(`<div id="html_80347a9f23d94bdcb3cfbaf5e8e5ac69" style="width: 100.0%; height: 100.0%;">Hospital name: Pontiac General Hospital<br> Number of COVID patients: 0<br> Number of ICU patients: 0</div>`)[0];
            popup_ec18b90ce4b84fae817b662ab648136e.setContent(html_80347a9f23d94bdcb3cfbaf5e8e5ac69);
        

        circle_9a13bddf0d994d0bbf9c4d868b5c88d4.bindPopup(popup_ec18b90ce4b84fae817b662ab648136e)
        ;

        
    
    
            var circle_d12a236fd94b451297b72b71873c3f36 = L.circle(
                [42.5075088, -83.00411559999999],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "red", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 8065.0, "stroke": true, "weight": 3}
            ).addTo(map_2173242a247c4774acd8438a4705b791);
        
    
        var popup_fbca67b6abe94d4e805e939f83bb8af1 = L.popup({"maxWidth": 300, "minWidth": 0});

        
            var html_5635e4a722394028a21bed98e34ff62e = $(`<div id="html_5635e4a722394028a21bed98e34ff62e" style="width: 100.0%; height: 100.0%;">Hospital name: Prime Health<br> Number of COVID patients: 0<br> Number of ICU patients: 0</div>`)[0];
            popup_fbca67b6abe94d4e805e939f83bb8af1.setContent(html_5635e4a722394028a21bed98e34ff62e);
        

        circle_d12a236fd94b451297b72b71873c3f36.bindPopup(popup_fbca67b6abe94d4e805e939f83bb8af1)
        ;

        
    
    
            var circle_467b08883cb5456f8de8a2c850cdef83 = L.circle(
                [42.3314999, -83.1135654],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "red", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 9120.0, "stroke": true, "weight": 3}
            ).addTo(map_2173242a247c4774acd8438a4705b791);
        
    
        var popup_9da1195117bd4f52918de2aced912907 = L.popup({"maxWidth": 300, "minWidth": 0});

        
            var html_c3d2f333b4394e46a9fb60e4154215fa = $(`<div id="html_c3d2f333b4394e46a9fb60e4154215fa" style="width: 100.0%; height: 100.0%;">Hospital name: Covenant<br> Number of COVID patients: 4<br> Number of ICU patients: 0</div>`)[0];
            popup_9da1195117bd4f52918de2aced912907.setContent(html_c3d2f333b4394e46a9fb60e4154215fa);
        

        circle_467b08883cb5456f8de8a2c850cdef83.bindPopup(popup_9da1195117bd4f52918de2aced912907)
        ;

        
    
    
            var circle_da2acd1bb35c4943b36d54cd105b7349 = L.circle(
                [41.9120432, -84.633113],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "red", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 6365.000000000001, "stroke": true, "weight": 3}
            ).addTo(map_2173242a247c4774acd8438a4705b791);
        
    
        var popup_cb23b39478c94b08bb33c357c39458e2 = L.popup({"maxWidth": 300, "minWidth": 0});

        
            var html_313fe609fb8549f9b0c555115ce8ece9 = $(`<div id="html_313fe609fb8549f9b0c555115ce8ece9" style="width: 100.0%; height: 100.0%;">Hospital name: Hillsdale Hospital<br> Number of COVID patients: 3<br> Number of ICU patients: 1</div>`)[0];
            popup_cb23b39478c94b08bb33c357c39458e2.setContent(html_313fe609fb8549f9b0c555115ce8ece9);
        

        circle_da2acd1bb35c4943b36d54cd105b7349.bindPopup(popup_cb23b39478c94b08bb33c357c39458e2)
        ;

        
    
    
            var circle_954cf79be91c4458a7e54f58cc1d048e = L.circle(
                [43.0507132, -86.22921029999999],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "red", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 6285.000000000001, "stroke": true, "weight": 3}
            ).addTo(map_2173242a247c4774acd8438a4705b791);
        
    
        var popup_a640b2af7c9d42f2bebb7b12db157e3a = L.popup({"maxWidth": 300, "minWidth": 0});

        
            var html_3cf5565687244f69bfae5d2e2560acb5 = $(`<div id="html_3cf5565687244f69bfae5d2e2560acb5" style="width: 100.0%; height: 100.0%;">Hospital name: North Ottawa Community Hosp<br> Number of COVID patients: 0<br> Number of ICU patients: 0</div>`)[0];
            popup_a640b2af7c9d42f2bebb7b12db157e3a.setContent(html_3cf5565687244f69bfae5d2e2560acb5);
        

        circle_954cf79be91c4458a7e54f58cc1d048e.bindPopup(popup_a640b2af7c9d42f2bebb7b12db157e3a)
        ;

        
    
    
            var circle_f114ee2f2d2c4e4ca982313d61611dbd = L.circle(
                [43.0058489, -84.17980469999999],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "red", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 7160.000000000001, "stroke": true, "weight": 3}
            ).addTo(map_2173242a247c4774acd8438a4705b791);
        
    
        var popup_2adf89897a294b25bde5e67edfe77738 = L.popup({"maxWidth": 300, "minWidth": 0});

        
            var html_b87a3419a95f41009cc62e02b2fd1753 = $(`<div id="html_b87a3419a95f41009cc62e02b2fd1753" style="width: 100.0%; height: 100.0%;">Hospital name: Memorial Healthcare<br> Number of COVID patients: 0<br> Number of ICU patients: 0</div>`)[0];
            popup_2adf89897a294b25bde5e67edfe77738.setContent(html_b87a3419a95f41009cc62e02b2fd1753);
        

        circle_f114ee2f2d2c4e4ca982313d61611dbd.bindPopup(popup_2adf89897a294b25bde5e67edfe77738)
        ;

        
    
    
            var circle_eac67c75cf144644bc10fc33558c1119 = L.circle(
                [43.0143291, -83.7329937],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "red", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 8930.0, "stroke": true, "weight": 3}
            ).addTo(map_2173242a247c4774acd8438a4705b791);
        
    
        var popup_755482ad582340f78796662f8fe22461 = L.popup({"maxWidth": 300, "minWidth": 0});

        
            var html_3703cd590e65409fa2f3819bda3c8c58 = $(`<div id="html_3703cd590e65409fa2f3819bda3c8c58" style="width: 100.0%; height: 100.0%;">Hospital name: McLaren<br> Number of COVID patients: 2<br> Number of ICU patients: 0</div>`)[0];
            popup_755482ad582340f78796662f8fe22461.setContent(html_3703cd590e65409fa2f3819bda3c8c58);
        

        circle_eac67c75cf144644bc10fc33558c1119.bindPopup(popup_755482ad582340f78796662f8fe22461)
        ;

        
    
    
            var circle_694c063a63d8459ab8cf7aacbd1d80c9 = L.circle(
                [42.3904977, -83.3738935],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "red", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 8725.0, "stroke": true, "weight": 3}
            ).addTo(map_2173242a247c4774acd8438a4705b791);
        
    
        var popup_50f70c2b0f434bc48408ec2881a94d76 = L.popup({"maxWidth": 300, "minWidth": 0});

        
            var html_15c96205263d4056bbffd9e41f33afe2 = $(`<div id="html_15c96205263d4056bbffd9e41f33afe2" style="width: 100.0%; height: 100.0%;">Hospital name: Spectrum<br> Number of COVID patients: 0<br> Number of ICU patients: 0</div>`)[0];
            popup_50f70c2b0f434bc48408ec2881a94d76.setContent(html_15c96205263d4056bbffd9e41f33afe2);
        

        circle_694c063a63d8459ab8cf7aacbd1d80c9.bindPopup(popup_50f70c2b0f434bc48408ec2881a94d76)
        ;

        
    
    
            var circle_3667d0bfafb74ee3940d525ebceb244a = L.circle(
                [42.273725, -84.9569467],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "red", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 7200.0, "stroke": true, "weight": 3}
            ).addTo(map_2173242a247c4774acd8438a4705b791);
        
    
        var popup_d08599b0a9ab4ea89235637bdd98e843 = L.popup({"maxWidth": 300, "minWidth": 0});

        
            var html_e8efcbab79eb4bb5b4be6c133c503534 = $(`<div id="html_e8efcbab79eb4bb5b4be6c133c503534" style="width: 100.0%; height: 100.0%;">Hospital name: Oaklawn Hospital<br> Number of COVID patients: 69<br> Number of ICU patients: 18</div>`)[0];
            popup_d08599b0a9ab4ea89235637bdd98e843.setContent(html_e8efcbab79eb4bb5b4be6c133c503534);
        

        circle_3667d0bfafb74ee3940d525ebceb244a.bindPopup(popup_d08599b0a9ab4ea89235637bdd98e843)
        ;

        
    
    
            var circle_b1fe09369d7e4428b7f9cd57eb7e5a58 = L.circle(
                [44.7311836, -85.18444459999999],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "red", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 6250.0, "stroke": true, "weight": 3}
            ).addTo(map_2173242a247c4774acd8438a4705b791);
        
    
        var popup_9fd95165a17e4a50aedc9ad215bd4038 = L.popup({"maxWidth": 300, "minWidth": 0});

        
            var html_3e2b07086ec146b39492f859ee9e97c6 = $(`<div id="html_3e2b07086ec146b39492f859ee9e97c6" style="width: 100.0%; height: 100.0%;">Hospital name: Kalkaska Memorial Health Center<br> Number of COVID patients: 4<br> Number of ICU patients: 3</div>`)[0];
            popup_9fd95165a17e4a50aedc9ad215bd4038.setContent(html_3e2b07086ec146b39492f859ee9e97c6);
        

        circle_b1fe09369d7e4428b7f9cd57eb7e5a58.bindPopup(popup_9fd95165a17e4a50aedc9ad215bd4038)
        ;

        
    
    
            var circle_f6b8d88cbb9c4993a9ece5f2c228a19f = L.circle(
                [42.7337155, -84.5351111],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "red", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 8955.0, "stroke": true, "weight": 3}
            ).addTo(map_2173242a247c4774acd8438a4705b791);
        
    
        var popup_7251fdc550a34707b2fc2d4c9db4143d = L.popup({"maxWidth": 300, "minWidth": 0});

        
            var html_8b49796f68ef402d8366e7d757273e88 = $(`<div id="html_8b49796f68ef402d8366e7d757273e88" style="width: 100.0%; height: 100.0%;">Hospital name: Sparrow Health System<br> Number of COVID patients: 1<br> Number of ICU patients: 0</div>`)[0];
            popup_7251fdc550a34707b2fc2d4c9db4143d.setContent(html_8b49796f68ef402d8366e7d757273e88);
        

        circle_f6b8d88cbb9c4993a9ece5f2c228a19f.bindPopup(popup_7251fdc550a34707b2fc2d4c9db4143d)
        ;

        
    
    
            var circle_3d2eb699e8384b03b1ddde6a2e36c6d3 = L.circle(
                [43.8343728, -83.2783501],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "red", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5605.0, "stroke": true, "weight": 3}
            ).addTo(map_2173242a247c4774acd8438a4705b791);
        
    
        var popup_f59f7fa61ff0447fa1f4dc9a5f1ad517 = L.popup({"maxWidth": 300, "minWidth": 0});

        
            var html_cad409a28d53403ba88be55840710183 = $(`<div id="html_cad409a28d53403ba88be55840710183" style="width: 100.0%; height: 100.0%;">Hospital name: Scheurer Hospital<br> Number of COVID patients: 14<br> Number of ICU patients: 5</div>`)[0];
            popup_f59f7fa61ff0447fa1f4dc9a5f1ad517.setContent(html_cad409a28d53403ba88be55840710183);
        

        circle_3d2eb699e8384b03b1ddde6a2e36c6d3.bindPopup(popup_f59f7fa61ff0447fa1f4dc9a5f1ad517)
        ;

        
    
    
            var circle_45174901d7d340a38acb05e759961ae2 = L.circle(
                [43.33247859999999, -83.08143079999999],
                {"bubblingMouseEvents": true, "color": "orange", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "orange", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 6400.0, "stroke": true, "weight": 3}
            ).addTo(map_2173242a247c4774acd8438a4705b791);
        
    
        var popup_d195c95962fd4e67a7e48b976b7c2813 = L.popup({"maxWidth": 300, "minWidth": 0});

        
            var html_224d6a1e7b51484fa19f28a840a26584 = $(`<div id="html_224d6a1e7b51484fa19f28a840a26584" style="width: 100.0%; height: 100.0%;">Hospital name: Marlette Regional Hospital<br> Number of COVID patients: 7<br> Number of ICU patients: 2</div>`)[0];
            popup_d195c95962fd4e67a7e48b976b7c2813.setContent(html_224d6a1e7b51484fa19f28a840a26584);
        

        circle_45174901d7d340a38acb05e759961ae2.bindPopup(popup_d195c95962fd4e67a7e48b976b7c2813)
        ;

        
    
    
            var circle_17f9bb2cb3df4ffe97d56b98d0c059ce = L.circle(
                [42.7751338, -86.1145293],
                {"bubblingMouseEvents": true, "color": "orange", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "orange", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 8650.0, "stroke": true, "weight": 3}
            ).addTo(map_2173242a247c4774acd8438a4705b791);
        
    
        var popup_bccc32426ed7468e82627ff3c369577b = L.popup({"maxWidth": 300, "minWidth": 0});

        
            var html_6db7740b33b9402da1b206c2e295c701 = $(`<div id="html_6db7740b33b9402da1b206c2e295c701" style="width: 100.0%; height: 100.0%;">Hospital name: Holland Community Hospital<br> Number of COVID patients: 0<br> Number of ICU patients: 0</div>`)[0];
            popup_bccc32426ed7468e82627ff3c369577b.setContent(html_6db7740b33b9402da1b206c2e295c701);
        

        circle_17f9bb2cb3df4ffe97d56b98d0c059ce.bindPopup(popup_bccc32426ed7468e82627ff3c369577b)
        ;

        
    
    
            var circle_fe18cbe4bda749b0ae968c40229d370c = L.circle(
                [41.7950424, -85.4073887],
                {"bubblingMouseEvents": true, "color": "orange", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "orange", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 8000.0, "stroke": true, "weight": 3}
            ).addTo(map_2173242a247c4774acd8438a4705b791);
        
    
        var popup_a979b46da896498299b2590fab11e55e = L.popup({"maxWidth": 300, "minWidth": 0});

        
            var html_4eb338b8230847ff8c64b7f09f71c88a = $(`<div id="html_4eb338b8230847ff8c64b7f09f71c88a" style="width: 100.0%; height: 100.0%;">Hospital name: Sturgis Hospital<br> Number of COVID patients: 6<br> Number of ICU patients: 4</div>`)[0];
            popup_a979b46da896498299b2590fab11e55e.setContent(html_4eb338b8230847ff8c64b7f09f71c88a);
        

        circle_fe18cbe4bda749b0ae968c40229d370c.bindPopup(popup_a979b46da896498299b2590fab11e55e)
        ;

        
    
    
            var circle_c3004e8aebbd448d815f142d00de21c1 = L.circle(
                [46.5431985, -87.4114733],
                {"bubblingMouseEvents": true, "color": "orange", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "orange", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 8435.0, "stroke": true, "weight": 3}
            ).addTo(map_2173242a247c4774acd8438a4705b791);
        
    
        var popup_cd52481a8bda4f61a4405dff535944f2 = L.popup({"maxWidth": 300, "minWidth": 0});

        
            var html_f77d4d35ef5e4cfab44edc4ae233b639 = $(`<div id="html_f77d4d35ef5e4cfab44edc4ae233b639" style="width: 100.0%; height: 100.0%;">Hospital name: UP Health<br> Number of COVID patients: 0<br> Number of ICU patients: 0</div>`)[0];
            popup_cd52481a8bda4f61a4405dff535944f2.setContent(html_f77d4d35ef5e4cfab44edc4ae233b639);
        

        circle_c3004e8aebbd448d815f142d00de21c1.bindPopup(popup_cd52481a8bda4f61a4405dff535944f2)
        ;

        
    
    
            var circle_89a7192729064b18adf21ff21398581f = L.circle(
                [46.4247854, -86.6252839],
                {"bubblingMouseEvents": true, "color": "orange", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "orange", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 6070.0, "stroke": true, "weight": 3}
            ).addTo(map_2173242a247c4774acd8438a4705b791);
        
    
        var popup_8801287165544d28a4eac7363f91346d = L.popup({"maxWidth": 300, "minWidth": 0});

        
            var html_f30e5a87d37947fca08548da0bd38350 = $(`<div id="html_f30e5a87d37947fca08548da0bd38350" style="width: 100.0%; height: 100.0%;">Hospital name: Munising Memorial Hospital<br> Number of COVID patients: 1<br> Number of ICU patients: 0</div>`)[0];
            popup_8801287165544d28a4eac7363f91346d.setContent(html_f30e5a87d37947fca08548da0bd38350);
        

        circle_89a7192729064b18adf21ff21398581f.bindPopup(popup_8801287165544d28a4eac7363f91346d)
        ;

        
    
    
            var circle_2f97a212836c461d8848f6bc32265d2e = L.circle(
                [46.731815, -88.42480499999999],
                {"bubblingMouseEvents": true, "color": "orange", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "orange", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 6000.0, "stroke": true, "weight": 3}
            ).addTo(map_2173242a247c4774acd8438a4705b791);
        
    
        var popup_1fb586a093b74d74b15203cb035e704c = L.popup({"maxWidth": 300, "minWidth": 0});

        
            var html_d6b69eb4b6ff4741a7b7f42e4059962a = $(`<div id="html_d6b69eb4b6ff4741a7b7f42e4059962a" style="width: 100.0%; height: 100.0%;">Hospital name: Baraga County Memorial Hospital<br> Number of COVID patients: 0<br> Number of ICU patients: 1</div>`)[0];
            popup_1fb586a093b74d74b15203cb035e704c.setContent(html_d6b69eb4b6ff4741a7b7f42e4059962a);
        

        circle_2f97a212836c461d8848f6bc32265d2e.bindPopup(popup_1fb586a093b74d74b15203cb035e704c)
        ;

        
    
    
            var circle_12334c580d4546a8819429df919979e8 = L.circle(
                [42.2161722, -83.3553842],
                {"bubblingMouseEvents": true, "color": "orange", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "orange", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 7935.000000000001, "stroke": true, "weight": 3}
            ).addTo(map_2173242a247c4774acd8438a4705b791);
        
    
        var popup_bbf56b7483c54bec9b149507af1b7912 = L.popup({"maxWidth": 300, "minWidth": 0});

        
            var html_dd7c922f4f4b4fc182db47312c7b1f20 = $(`<div id="html_dd7c922f4f4b4fc182db47312c7b1f20" style="width: 100.0%; height: 100.0%;">Hospital name: Metro<br> Number of COVID patients: 0<br> Number of ICU patients: 0</div>`)[0];
            popup_bbf56b7483c54bec9b149507af1b7912.setContent(html_dd7c922f4f4b4fc182db47312c7b1f20);
        

        circle_12334c580d4546a8819429df919979e8.bindPopup(popup_bbf56b7483c54bec9b149507af1b7912)
        ;

        
    
    
            var circle_b45b12fa53a54854bbc41993251ed6c9 = L.circle(
                [43.4237214, -82.83219110000002],
                {"bubblingMouseEvents": true, "color": "orange", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "orange", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5800.0, "stroke": true, "weight": 3}
            ).addTo(map_2173242a247c4774acd8438a4705b791);
        
    
        var popup_934a4e196f48404f82f507cb755c9976 = L.popup({"maxWidth": 300, "minWidth": 0});

        
            var html_0a589ffd07fc4a378bbb0bc1ffffcc5d = $(`<div id="html_0a589ffd07fc4a378bbb0bc1ffffcc5d" style="width: 100.0%; height: 100.0%;">Hospital name: McKenzie Memorial Hospital<br> Number of COVID patients: 5<br> Number of ICU patients: 1</div>`)[0];
            popup_934a4e196f48404f82f507cb755c9976.setContent(html_0a589ffd07fc4a378bbb0bc1ffffcc5d);
        

        circle_b45b12fa53a54854bbc41993251ed6c9.bindPopup(popup_934a4e196f48404f82f507cb755c9976)
        ;

        
    
    
            var circle_f80288fb01374284bf790d4068cd70b0 = L.circle(
                [45.7427923, -87.09630369999999],
                {"bubblingMouseEvents": true, "color": "orange", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "orange", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 7789.999999999999, "stroke": true, "weight": 3}
            ).addTo(map_2173242a247c4774acd8438a4705b791);
        
    
        var popup_43d59a5198a0480f8fe27f5243ba9a90 = L.popup({"maxWidth": 300, "minWidth": 0});

        
            var html_2f3ba2eb789241748dc3026639f7f2f7 = $(`<div id="html_2f3ba2eb789241748dc3026639f7f2f7" style="width: 100.0%; height: 100.0%;">Hospital name: OSF St. Francis Hospital<br> Number of COVID patients: 8<br> Number of ICU patients: 2</div>`)[0];
            popup_43d59a5198a0480f8fe27f5243ba9a90.setContent(html_2f3ba2eb789241748dc3026639f7f2f7);
        

        circle_f80288fb01374284bf790d4068cd70b0.bindPopup(popup_43d59a5198a0480f8fe27f5243ba9a90)
        ;

        
    
    
            var circle_9adadcc8d9a54348957c823e81071930 = L.circle(
                [42.4644518, -83.26180190000001],
                {"bubblingMouseEvents": true, "color": "orange", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "orange", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 6875.0, "stroke": true, "weight": 3}
            ).addTo(map_2173242a247c4774acd8438a4705b791);
        
    
        var popup_b9cdd02742f14af4ac9415d8f62873a4 = L.popup({"maxWidth": 300, "minWidth": 0});

        
            var html_5787defeb8f34d70a9649e02c26ea17e = $(`<div id="html_5787defeb8f34d70a9649e02c26ea17e" style="width: 100.0%; height: 100.0%;">Hospital name: Straith Hospital<br> Number of COVID patients: 1<br> Number of ICU patients: 0</div>`)[0];
            popup_b9cdd02742f14af4ac9415d8f62873a4.setContent(html_5787defeb8f34d70a9649e02c26ea17e);
        

        circle_9adadcc8d9a54348957c823e81071930.bindPopup(popup_b9cdd02742f14af4ac9415d8f62873a4)
        ;

        
    
    
            var circle_ec3464d2009443a09cf2700e9046d3e0 = L.circle(
                [43.5281974, -82.73416929999999],
                {"bubblingMouseEvents": true, "color": "yellow", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "yellow", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5000.0, "stroke": true, "weight": 3}
            ).addTo(map_2173242a247c4774acd8438a4705b791);
        
    
        var popup_c3cea77fb7544203a483b9a0938748ca = L.popup({"maxWidth": 300, "minWidth": 0});

        
            var html_6848b9fdd5b74f82a9250c709cddb7d8 = $(`<div id="html_6848b9fdd5b74f82a9250c709cddb7d8" style="width: 100.0%; height: 100.0%;">Hospital name: Deckerville Community Hospital<br> Number of COVID patients: 1<br> Number of ICU patients: 0</div>`)[0];
            popup_c3cea77fb7544203a483b9a0938748ca.setContent(html_6848b9fdd5b74f82a9250c709cddb7d8);
        

        circle_ec3464d2009443a09cf2700e9046d3e0.bindPopup(popup_c3cea77fb7544203a483b9a0938748ca)
        ;

        
    
    
            var circle_1b639db4b11a4f71a86d9cc7c002344a = L.circle(
                [45.8098408, -88.0445283],
                {"bubblingMouseEvents": true, "color": "yellow", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "yellow", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 7145.0, "stroke": true, "weight": 3}
            ).addTo(map_2173242a247c4774acd8438a4705b791);
        
    
        var popup_c8c37018a1e94751ae0bd2c2da3c2e8b = L.popup({"maxWidth": 300, "minWidth": 0});

        
            var html_87e459bbae4d4c509644820ec941dfc6 = $(`<div id="html_87e459bbae4d4c509644820ec941dfc6" style="width: 100.0%; height: 100.0%;">Hospital name: Dickinson Memorial Health Care System<br> Number of COVID patients: 0<br> Number of ICU patients: 0</div>`)[0];
            popup_c8c37018a1e94751ae0bd2c2da3c2e8b.setContent(html_87e459bbae4d4c509644820ec941dfc6);
        

        circle_1b639db4b11a4f71a86d9cc7c002344a.bindPopup(popup_c8c37018a1e94751ae0bd2c2da3c2e8b)
        ;

        
    
    
            var circle_f2ec8f0a361a4b51a8371e92c0bd46b7 = L.circle(
                [43.6040499, -83.18229079999999],
                {"bubblingMouseEvents": true, "color": "yellow", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "yellow", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 6145.000000000001, "stroke": true, "weight": 3}
            ).addTo(map_2173242a247c4774acd8438a4705b791);
        
    
        var popup_8a129cfdfb5547ad8cb604ba274c3ad5 = L.popup({"maxWidth": 300, "minWidth": 0});

        
            var html_3e6a0d1834994f00af907155183a5d34 = $(`<div id="html_3e6a0d1834994f00af907155183a5d34" style="width: 100.0%; height: 100.0%;">Hospital name: Hills and Dales General Hospital<br> Number of COVID patients: 22<br> Number of ICU patients: 1</div>`)[0];
            popup_8a129cfdfb5547ad8cb604ba274c3ad5.setContent(html_3e6a0d1834994f00af907155183a5d34);
        

        circle_f2ec8f0a361a4b51a8371e92c0bd46b7.bindPopup(popup_8a129cfdfb5547ad8cb604ba274c3ad5)
        ;

        
    
    
            var circle_06f8508cec454ad8865da751666a702d = L.circle(
                [45.9466777, -86.2761068],
                {"bubblingMouseEvents": true, "color": "yellow", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "yellow", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 7085.0, "stroke": true, "weight": 3}
            ).addTo(map_2173242a247c4774acd8438a4705b791);
        
    
        var popup_a755946a5c3143b3bd146e92cd2bced4 = L.popup({"maxWidth": 300, "minWidth": 0});

        
            var html_121a800410ef43c2a4f5334cca34c7ff = $(`<div id="html_121a800410ef43c2a4f5334cca34c7ff" style="width: 100.0%; height: 100.0%;">Hospital name: Schoolcraft Memorial Hospital<br> Number of COVID patients: 35<br> Number of ICU patients: 6</div>`)[0];
            popup_a755946a5c3143b3bd146e92cd2bced4.setContent(html_121a800410ef43c2a4f5334cca34c7ff);
        

        circle_06f8508cec454ad8865da751666a702d.bindPopup(popup_a755946a5c3143b3bd146e92cd2bced4)
        ;

        
    
    
            var circle_1137006e1bc042b4a2f0b41bdf84f937 = L.circle(
                [45.8907177, -84.7298751],
                {"bubblingMouseEvents": true, "color": "yellow", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "yellow", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 7000.0, "stroke": true, "weight": 3}
            ).addTo(map_2173242a247c4774acd8438a4705b791);
        
    
        var popup_61e85e79fb27482c86c6cce8dd9f63a2 = L.popup({"maxWidth": 300, "minWidth": 0});

        
            var html_03b61c4946ca49a9b446073d8236b27e = $(`<div id="html_03b61c4946ca49a9b446073d8236b27e" style="width: 100.0%; height: 100.0%;">Hospital name: Mackinac Straits Hospital<br> Number of COVID patients: 0<br> Number of ICU patients: 0</div>`)[0];
            popup_61e85e79fb27482c86c6cce8dd9f63a2.setContent(html_03b61c4946ca49a9b446073d8236b27e);
        

        circle_1137006e1bc042b4a2f0b41bdf84f937.bindPopup(popup_61e85e79fb27482c86c6cce8dd9f63a2)
        ;

        
    
    
            var circle_25554cdf50c64de590d4c848b1fa1c97 = L.circle(
                [42.49533479999999, -84.6584235],
                {"bubblingMouseEvents": true, "color": "yellow", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "yellow", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 7000.0, "stroke": true, "weight": 3}
            ).addTo(map_2173242a247c4774acd8438a4705b791);
        
    
        var popup_80a80f0984044e47838d86bf324da611 = L.popup({"maxWidth": 300, "minWidth": 0});

        
            var html_cbd182e9dfdf402898fe8964a240d472 = $(`<div id="html_cbd182e9dfdf402898fe8964a240d472" style="width: 100.0%; height: 100.0%;">Hospital name: Eaton Rapids Medical Center<br> Number of COVID patients: 0<br> Number of ICU patients: 0</div>`)[0];
            popup_80a80f0984044e47838d86bf324da611.setContent(html_cbd182e9dfdf402898fe8964a240d472);
        

        circle_25554cdf50c64de590d4c848b1fa1c97.bindPopup(popup_80a80f0984044e47838d86bf324da611)
        ;

        
    
    
            var circle_a20ebd3b98924ce39739bf044c884d75 = L.circle(
                [46.497886, -84.35074589999999],
                {"bubblingMouseEvents": true, "color": "yellow", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "yellow", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 6545.0, "stroke": true, "weight": 3}
            ).addTo(map_2173242a247c4774acd8438a4705b791);
        
    
        var popup_66399c56155b4e05a6f24616e055d075 = L.popup({"maxWidth": 300, "minWidth": 0});

        
            var html_53942ca3b204415eabef08fbe0bd2ed5 = $(`<div id="html_53942ca3b204415eabef08fbe0bd2ed5" style="width: 100.0%; height: 100.0%;">Hospital name: War Memorial Hospital<br> Number of COVID patients: 1<br> Number of ICU patients: 0</div>`)[0];
            popup_66399c56155b4e05a6f24616e055d075.setContent(html_53942ca3b204415eabef08fbe0bd2ed5);
        

        circle_a20ebd3b98924ce39739bf044c884d75.bindPopup(popup_66399c56155b4e05a6f24616e055d075)
        ;

        
    
    
            var circle_42483ef326304554a7e9c49d4a29b180 = L.circle(
                [46.352985, -85.5156125],
                {"bubblingMouseEvents": true, "color": "green", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "green", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5910.0, "stroke": true, "weight": 3}
            ).addTo(map_2173242a247c4774acd8438a4705b791);
        
    
        var popup_ec9b9e0b9f7740f1987436fa572909b1 = L.popup({"maxWidth": 300, "minWidth": 0});

        
            var html_d825103c61614a8bab786f0834e7940c = $(`<div id="html_d825103c61614a8bab786f0834e7940c" style="width: 100.0%; height: 100.0%;">Hospital name: Helen Newberry Joy Hospital<br> Number of COVID patients: 51<br> Number of ICU patients: 11</div>`)[0];
            popup_ec9b9e0b9f7740f1987436fa572909b1.setContent(html_d825103c61614a8bab786f0834e7940c);
        

        circle_42483ef326304554a7e9c49d4a29b180.bindPopup(popup_ec9b9e0b9f7740f1987436fa572909b1)
        ;

        
    
    
            var circle_d5a0cf2efde245eaacdd92f68efe8add = L.circle(
                [47.2389105, -88.4434608],
                {"bubblingMouseEvents": true, "color": "green", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "green", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5655.0, "stroke": true, "weight": 3}
            ).addTo(map_2173242a247c4774acd8438a4705b791);
        
    
        var popup_93580ff6960a4772b16d64a810c4aae3 = L.popup({"maxWidth": 300, "minWidth": 0});

        
            var html_8c854e33c8f24b79bf27953367fa1577 = $(`<div id="html_8c854e33c8f24b79bf27953367fa1577" style="width: 100.0%; height: 100.0%;">Hospital name: Aspirus<br> Number of COVID patients: 2<br> Number of ICU patients: 0</div>`)[0];
            popup_93580ff6960a4772b16d64a810c4aae3.setContent(html_8c854e33c8f24b79bf27953367fa1577);
        

        circle_d5a0cf2efde245eaacdd92f68efe8add.bindPopup(popup_93580ff6960a4772b16d64a810c4aae3)
        ;

        
    
    
            var circle_fa299f63470d4dd59f6561b82edfdcdb = L.circle(
                [43.8426786, -82.65201549999999],
                {"bubblingMouseEvents": true, "color": "green", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "green", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5335.0, "stroke": true, "weight": 3}
            ).addTo(map_2173242a247c4774acd8438a4705b791);
        
    
        var popup_718276750ab34890b6f1f95dfcc65dca = L.popup({"maxWidth": 300, "minWidth": 0});

        
            var html_dc9a3b73aeb24422b9198d431eb54d21 = $(`<div id="html_dc9a3b73aeb24422b9198d431eb54d21" style="width: 100.0%; height: 100.0%;">Hospital name: Harbor Beach Community Hospital<br> Number of COVID patients: 1<br> Number of ICU patients: 1</div>`)[0];
            popup_718276750ab34890b6f1f95dfcc65dca.setContent(html_dc9a3b73aeb24422b9198d431eb54d21);
        

        circle_fa299f63470d4dd59f6561b82edfdcdb.bindPopup(popup_718276750ab34890b6f1f95dfcc65dca)
        ;

        
    
</script>
