<!DOCTYPE html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
</head>
<body>
    <h1>
        Hospital Thank You's
    </h1>
    <p>
        Please click here to go to the <a href="/">map</a>.
    </p>
    
  
    <img src="Jonyoon.png"/>
    <p>
        Jon Yoon
        <br> Otolaryngology Surgeon at UW Medicine 
        <br>“Thank you donors for your generous support during this critical time of need. Your donations have helped us ensure we have the resources needed to continue providing the best care possible.” 
    </p>
             
     <img src="Kevinhunt.png"/>
    <p>
          Kevin Hunt 
          <br> Cardiologist at Stanford Medicine
          <br>“Donors have donated so many masks we couldn’t come close to counting them as they continued to pour in! We appreciate the support of our generous donors now more than ever.”
    </p>
    
    <img src="MichelleKolb.png"/>
    <p>
        Michelle Kolb 
        <br> Pediatrician at Seattle Childrens
        <br> “When there was a surge in COVID-19 cases in our hospital, we saw more and more donations coming into the hospital. With these donations, we were able to have enough medical equipment for ourselves and even help other hospitals nearby who were low on resources. Thank you to all our donors for this outpouring of support!”
    </p>
   
    <img src="Sunkim.png"/>
    <p>
        Sun Kim
        <br> Endocrinologist at John Hopkins Medicine 
        <br>“Our donor’s help has made a profound impact on our hospital and on our healthcare workers. We are so grateful for all the support from our donors in our COVID-19 efforts.”
    </p>
    
    
    
    
    
     
</body>